.navbar {
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
  padding: 10px 20px;
}

.logo img {
  max-width: 100px;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navLinks li {
  font-size: 1rem;
}

.navLinks a {
  text-decoration: none;
}


.footer {
  width: 100%;
  height: fit-content;
  border-top: 1px solid #e6e6e6;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.footerSignUp {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin:1rem;
}

.footerInfo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
