.footer {
  width: 100%;
  height: fit-content;
  border-top: 1px solid #e6e6e6;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.footerSignUp {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin:1rem;
}

.footerInfo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
